<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Date" content="2023-08-03T18:33:00+09:00" />
    <meta http-equiv="Content-Script-Type" content="Text/JavaScript" />
    <meta http-equiv="Subject" content="dash board" />
    <meta http-equiv="Title" content="airkorea" />
    <meta http-equiv="Aurthor" content="Seo Dong Min" />
    <meta http-equiv="Other Agent" content="Seo Dong Min" />
    <meta http-equiv="Generator" content="Visual Studio Code" />
    <meta http-equiv="Reply-To" content="gundam3331@knou.ac.kr" />
    <meta http-equiv="Email" content="gundam3331@knou.ac.kr" />
    <meta http-equiv="Filename" content="index.j2" />
    <meta http-equiv="Location" content="Ansan" />
    <meta http-equiv="Distribution" content="Seo Dong Min" />
    <meta http-equiv="Copyright" content="Seo Dong Min" />
    <meta http-equiv="Build" content="2023,08,03" />
    <meta http-equiv="Last-Modified" content="???" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="???" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbit&display=swap"
      rel="stylesheet"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename = 'json/manifest.json') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.js"
      integrity="sha512-m7nhpWHotpucPI37I4lPovL28Bm2BhAMV8poF3F8Z9oOEZ3jlxGzkgvG0EMt1mVL1xydr1erlBbmN90js/ssUw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.js"
      integrity="sha512-SKTL5rMewKkHVooCoONgJHCICK1otCPqPFduipyXVLWgtHHmsQgzXXHUP+SPyL4eU/knSpDkMXKlLedcHmWJpQ=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
    <script
      src="{{ url_for('static', filename = 'js/main_react.js') }}"
      defer="defer"
    ></script>
    <title>airkorea</title>
  </head>
  <body>
  </body>
</html>
